Repository tech-atlas-master-thesis/admin-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

Add configuration implementations
  package.json
  pnpm-lock.yaml
  public/i18n/de.json
  public/i18n/en.json
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.store.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.ts
  src/app/+configurations/+configuration-versions/+create-configuration-version/create-configuration-version.html
  src/app/+configurations/+configuration-versions/+create-configuration-version/create-configuration-version.ts
  src/app/+configurations/+configuration-versions/configuration-versions.html
  src/app/+configurations/+configuration-versions/configuration-versions.routes.ts
  src/app/+configurations/+configuration-versions/configuration-versions.store.ts
  src/app/+configurations/+configuration-versions/configuration-versions.ts
  src/app/+configurations/+configuration-versions/configuration.store.ts
  src/app/+configurations/+create-configuration/create-configuration.html
  src/app/+configurations/+create-configuration/create-configuration.ts
  src/app/+configurations/configurations.component.html
  src/app/+configurations/configurations.component.ts
  src/app/+configurations/configurations.routes.ts
  src/app/+configurations/configurations.store.ts
  src/app/+scraper/scraper.routes.ts
  src/app/+transformer/transformer.routes.ts
  src/app/api/models/configuration/update-configuration-dto.ts
  src/app/api/models/configuration/update-configuration-version-dto.ts
  src/app/api/service/configuration-api.ts
  src/app/app.routes.ts
  src/app/breadcrumbs/breadcrumbs.ts
  src/environment/environment.prod.ts
  src/environment/environment.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Fix logo loading
  public/favicon.ico
  public/logo.png
  src/app/menu/menu-bar.component.html
Due: prettier --write

Fix logo loading
  public/logo_large.png
Due: none

Add export button to datasets
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step-results/pipeline-step-results.component.ts
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.html
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.ts
  src/app/api/service/transformer-api.ts
  src/app/shared/file/file-download.ts
Due: prettier --write, eslint --fix

Add local auth-mock
  src/environment/environment.ts
Due: prettier --write, eslint --fix

Save intermediate progress
  package.json
  pnpm-lock.yaml
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/configuration-versions.html
  src/app/+configurations/+create-configuration/create-configuration.html
  src/app/+configurations/configurations.component.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.interface.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.scss
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/api/models/pipeline/user-config/user-config-definition-dto.ts
  src/app/api/models/pipeline/user-config/user-config-type-dto.ts
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.html
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.scss
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.ts
  src/app/shared/lazy-input/lazy-configuration/lazy-configuration.ts
  src/app/shared/lazy-input/lazy-input.spec.ts
  src/app/shared/lazy-input/lazy-input.ts
  src/app/shared/lazy-input/lazy-select/lazy-select.html
  src/app/shared/lazy-input/lazy-select/lazy-select.scss
  src/app/shared/lazy-input/lazy-select/lazy-select.ts
  src/app/shared/util/equal.ts
Due: prettier --write, eslint --fix, stylelint

Add configurations to pipeline create
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+new-pipeline/new-pipeline.component.html
  src/app/+pipelines/+new-pipeline/new-pipeline.component.scss
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.interface.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.scss
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/config-collection-input/config-collection-input.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/validators/configurationValidator.ts
  src/app/api/models/configuration/configuration-version-dto.ts
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.html
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.scss
  src/app/shared/lazy-input/lazy-configuration-version/lazy-configuration-version.ts
  src/app/shared/lazy-input/lazy-configuration/lazy-configuration.ts
  src/app/shared/lazy-input/lazy-select/lazy-select.html
  src/app/shared/lazy-input/lazy-select/lazy-select.ts
Due: prettier --write, eslint --fix, stylelint

Fix config version page
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.ts
Due: prettier --write, eslint --fix

Add tech and fields to data set
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/api/models/dataset/data-set-object-type.ts
Due: prettier --write, eslint --fix

Replace file on prod
  angular.json
Due: prettier --write

Fix build
  angular.json
Due: prettier --write

Fix auth
  src/environment/environment.prod.ts
Due: prettier --write, eslint --fix

Add dataset export
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.scss
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/+transformer/+datasets/+data-set/data-set.store.ts
  src/app/api/service/transformer-api.ts
Due: prettier --write, eslint --fix, stylelint

Add table skeleton
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/app.html
  src/app/app.scss
  src/app/menu/menu-bar.component.html
  src/app/menu/menu-bar.component.scss
  src/app/shared/table/table-skeleton/table-skeleton.html
  src/app/shared/table/table-skeleton/table-skeleton.scss
  src/app/shared/table/table-skeleton/table-skeleton.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Add custom technologies configuration
  package.json
  public/i18n/de.json
  public/i18n/en.json
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.codec.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.interface.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.scss
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.ts
  src/app/shared/form/infer-form-value.ts
  src/app/shared/util/equal.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Improve custom technologies configuration
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.ts
Due: prettier --write, eslint --fix

Add date picker to pipeline config
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/api/models/pipeline/user-config/user-config-definition-dto.ts
Due: prettier --write, eslint --fix

Improve configuration version
  public/i18n/de.json
  public/i18n/en.json
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-version.ts
  src/app/+configurations/+configuration-versions/+configuration-version/state-tag/configuration-state-tag.component.html
  src/app/+configurations/+configuration-versions/+configuration-version/state-tag/configuration-state-tag.component.scss
  src/app/+configurations/+configuration-versions/+configuration-version/state-tag/configuration-state-tag.component.ts
  src/app/+configurations/+configuration-versions/+create-configuration-version/create-configuration-version.html
  src/app/+configurations/+configuration-versions/+create-configuration-version/create-configuration-version.ts
  src/app/api/models/configuration/create-configuration-dto.ts
  src/app/shared/types/severity.ts
Due: prettier --write, eslint --fix, stylelint

Improve pipeline display
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.scss
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.scss
  src/app/+pipelines/+pipeline/pipeline.component.html
  src/app/+pipelines/+pipeline/pipeline.component.scss
  src/app/app.html
  src/app/app.scss
Due: prettier --write, stylelint

Add base drag and drop features to technology config
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
Due: prettier --write, eslint --fix

Fix drag and drop for technology configuration
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
Due: prettier --write, eslint --fix

Add grant dataset display
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+pipeline/pipeline.component.scss
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
Due: prettier --write, eslint --fix, stylelint

Swap colors for tech configs
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
Due: prettier --write

Start adding schedules
  pnpm-lock.yaml
  src/app/api/models/schedule/schedule-dto.ts
Due: prettier --write, eslint --fix

Extend tech configuration with programmes
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.codec.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.interface.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
Due: prettier --write, eslint --fix

Improve data set display
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/api/models/dataset/data-set-object-type.ts
Due: prettier --write, eslint --fix

Add checkbox configuration
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.scss
  src/app/api/models/pipeline/user-config/user-config-type-dto.ts
Due: prettier --write, eslint --fix, stylelint

Add delete and active toggle to datasets
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/data-sets.component.html
  src/app/+transformer/+datasets/data-sets.component.ts
  src/app/+transformer/+datasets/data-sets.store.ts
  src/app/api/models/dataset/data-set-dto.ts
  src/app/api/service/transformer-api.ts
Due: prettier --write, eslint --fix

Only show steps with configs
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.html
Due: prettier --write

Only show steps with configs
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
Due: prettier --write, eslint --fix

Update tech config
  public/i18n/de.json
  public/i18n/en.json
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.codec.ts
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.html
  src/app/+configurations/+configuration-versions/+configuration-version/configuration-technologies/configuration-technologies.ts
Due: prettier --write, eslint --fix

Improve cancel resource
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{md,html,js,css,ts,json}
  eslint --fix: any of: *.ts
  stylelint: any of: *.scss
