Repository tech-atlas-master-thesis/admin-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

Use husky
  package.json
Due: prettier --write

Move to port 4300
  angular.json
  package-lock.json
Due: prettier --write

Update to Angular v21 and migrate to pnpm
  .dockerignore
  .github/workflows/build-and-push-image.yml
  .prettierignore
  Dockerfile
  angular.json
  e2e/example.spec.ts
  e2e/tsconfig.json
  eslint.config.mjs
  nginx.conf
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/environment/environment.interface.ts
  src/environment/environment.prod.ts
  src/environment/environment.ts
  src/test-setup.ts
  src/transloco-loader.ts
Due: prettier --write, eslint --fix

Update tslib
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add API
  package.json
  pnpm-lock.yaml
  src/app/api/api.ts
  src/app/api/models/pipeline-create-dto.ts
  src/app/api/models/pipeline-dto.ts
  src/app/api/models/status-dto.ts
  src/app/api/models/step-dto.ts
  src/app/api/scraper-api/scraper-api.ts
  src/app/app.config.ts
  src/app/app.html
  src/app/app.ts
  src/environment/environment.interface.ts
  src/environment/environment.prod.ts
  src/environment/environment.ts
Due: prettier --write, eslint --fix

Add app skeleton
  package.json
  pnpm-lock.yaml
  public/i18n/de.json
  public/i18n/en.json
  src/app/+scraper/+sc-pipelines/sc-pipeline.routes.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.html
  src/app/+scraper/+sc-pipelines/sc-pipelines.scss
  src/app/+scraper/+sc-pipelines/sc-pipelines.ts
  src/app/+scraper/scraper.routes.ts
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.scss
  src/app/app.ts
  src/app/breadcrumbs/breadcrumbs.html
  src/app/breadcrumbs/breadcrumbs.scss
  src/app/breadcrumbs/breadcrumbs.ts
  src/app/menu/menu.html
  src/app/menu/menu.scss
  src/app/menu/menu.ts
  src/app/shared/i18n/i18n-service.ts
  src/app/shared/styles/mixins.scss
  src/styles.scss
  transloco.config.ts
Due: prettier --write, eslint --fix, stylelint

Add app skeleton
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-steps.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.routes.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.ts
  src/app/+scraper/+sc-pipelines/sc-pipeline.routes.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.html
  src/app/+scraper/+sc-pipelines/sc-pipelines.store.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.ts
  src/app/+scraper/scraper.routes.ts
  src/app/app.config.ts
  src/app/app.ts
  src/app/oauth.config.ts
  src/app/shared/i18n/i18n-service.ts
  src/proxy.conf.json
Due: prettier --write, eslint --fix, stylelint

Basic pipeline run view
  .github/workflows/build-and-push-image.yml
  public/i18n/de.json
  public/i18n/en.json
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-steps.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.ts
  src/app/app.ts
  src/app/shared/auth/auth.service.ts
  src/app/shared/styles/state-class.pipe.ts
Due: prettier --write, eslint --fix, stylelint

Use runner docker build
  .github/workflows/build-and-push-image.yml
Due: none

Create pipelines
  package.json
  pnpm-lock.yaml
  public/i18n/en.json
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.html
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.interface.ts
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.scss
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-steps.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-timeline/sc-pipeline-timeline.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-timeline/sc-pipeline-timeline.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-timeline/sc-pipeline-timeline.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.ts
  src/app/+scraper/+sc-pipelines/sc-pipeline.routes.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.html
  src/app/+scraper/+sc-pipelines/sc-pipelines.store.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.ts
  src/app/api/models/pipeline-config-dto.ts
  src/app/api/models/pipeline-dto.ts
  src/app/api/models/step-config-dto.ts
  src/app/api/models/step-dto.ts
  src/app/api/scraper-api/scraper-api.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Improve pipeline display, add results download
  package.json
  pnpm-lock.yaml
  public/i18n/en.json
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.interface.ts
  src/app/+scraper/+sc-pipelines/+sc-new-pipeline/sc-new-pipeline.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step-results/sc-pipeline-step-results.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step-results/sc-pipeline-step-results.scss
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step-results/sc-pipeline-step-results.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step.html
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-step/sc-pipeline-step.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-steps.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline-timeline/sc-pipeline-timeline.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.store.ts
  src/app/+scraper/+sc-pipelines/+sc-pipeline/sc-pipeline.ts
  src/app/+scraper/+sc-pipelines/sc-pipelines.store.ts
  src/app/api/api.ts
  src/app/api/models/step-dto.ts
  src/app/api/models/step-result-dto.ts
  src/app/api/scraper-api/scraper-api.ts
  src/app/breadcrumbs/breadcrumbs.ts
  src/app/menu/menu.ts
  src/app/shared/styles/state-class.pipe.ts
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint

Make menu prettier, add dashboard base
  public/favicon.ico
  public/i18n/de.json
  public/i18n/en.json
  public/logo.png
  public/logo_first.png
  src/app/+dashboard/dashboard.html
  src/app/+dashboard/dashboard.scss
  src/app/+dashboard/dashboard.ts
  src/app/+pipelines/+pipeline/pipeline.routes.ts
  src/app/+pipelines/pipeline.routes.ts
  src/app/+scraper/scraper.routes.ts
  src/app/app.config.ts
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.ts
  src/app/breadcrumbs/breadcrumbs.ts
  src/app/menu/menu-bar.component.html
  src/app/menu/menu-bar.component.scss
  src/app/menu/menu-bar.component.ts
  src/app/menu/menu.html
  src/app/menu/menu.scss
  src/app/shared/i18n/i18n-service.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Fix localisations
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.ts
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.html
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.ts
  src/app/+pipelines/+pipeline/pipeline.component.html
  src/app/+pipelines/+pipeline/pipeline.component.ts
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/api/models/localisedString.ts
  src/app/api/models/pipeline/pipeline-config-dto.ts
  src/app/api/models/pipeline/pipeline-dto.ts
  src/app/api/models/pipeline/step-config-dto.ts
  src/app/api/models/pipeline/step-dto.ts
  src/app/shared/i18n/localised.pipe.spec.ts
  src/app/shared/i18n/localised.pipe.ts
Due: prettier --write, eslint --fix

Update API
  src/app/api/models/localised-string-dto.ts
  src/app/api/models/localisedString.ts
  src/app/api/models/pipeline/event-type-dto.ts
  src/app/api/models/pipeline/pipeline-config-dto.ts
  src/app/api/models/pipeline/pipeline-create-dto.ts
  src/app/api/models/pipeline/pipeline-dto.ts
  src/app/api/models/pipeline/step-config-dto.ts
  src/app/api/models/pipeline/step-dto.ts
  src/app/api/models/pipeline/step-event-dto.ts
  src/app/api/models/pipeline/user-config/user-config-definition-dto.ts
  src/app/api/models/pipeline/user-config/user-config-dto.ts
  src/app/api/models/pipeline/user-config/user-config-type-dto.ts
  src/app/api/models/pipeline/user-config/user-config-value-dto.ts
  src/app/api/models/pipeline/user-config/user-step-config-dto.ts
  src/app/api/pipeline-api/pipeline-api.ts
  src/app/shared/i18n/localised.pipe.ts
Due: prettier --write, eslint --fix

Base implement for pipeline config pipeline
  src/app/+pipelines/+new-pipeline/new-pipeline.component.html
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/new-pipeline.interface.ts
  src/app/+pipelines/+new-pipeline/new-pipeline.metadata.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.scss
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.html
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.scss
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.ts
  src/app/api/models/pipeline/step-config-dto.ts
  src/app/api/models/pipeline/user-config/user-config-value-dto.ts
  src/app/api/pipeline-api/pipeline-api.ts
  src/app/breadcrumbs/breadcrumbs.ts
  src/app/shared/i18n/localised.pipe.ts
Due: prettier --write, eslint --fix, stylelint

Update angular.json
  angular.json
Due: prettier --write

Add step config
  package.json
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.scss
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.html
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.ts
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.html
  src/app/+pipelines/+pipeline/pipeline.component.html
  src/app/+pipelines/pipelines.component.html
  src/app/shared/i18n/localised.pipe.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Add mapping form
  src/app/+pipelines/+new-pipeline/new-pipeline.component.html
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.ts
  src/app/shared/i18n/localised.pipe.ts
  src/app/shared/input-mapping/input-mapping.html
  src/app/shared/input-mapping/input-mapping.scss
  src/app/shared/input-mapping/input-mapping.ts
Due: prettier --write, eslint --fix, stylelint

Create pipeline with config
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/pipelines.store.ts
  src/app/api/models/pipeline/user-config/user-config-definition-dto.ts
  src/app/api/models/pipeline/user-config/user-config-enum-dto.ts
  src/app/api/models/pipeline/user-config/user-config-value-dto.ts
  src/app/shared/input-mapping/input-mapping.html
  src/app/shared/input-mapping/input-mapping.ts
Due: prettier --write, eslint --fix

Add sorting, pagination and filtering to pipeline table
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-steps.store.ts
  src/app/+pipelines/+pipeline/pipeline.store.ts
  src/app/+pipelines/pipeline.routes.ts
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/+pipelines/pipelines.store.ts
  src/app/api/models/paginated-list-dto.ts
  src/app/api/models/pipeline/pipeline-dto.ts
  src/app/api/models/pipeline/pipeline-filter-dto.ts
  src/app/api/models/pipeline/pipeline-sort-dto.ts
  src/app/api/models/pipeline/step-dto.ts
  src/app/api/pipeline-api/pipeline-api.ts
  src/app/shared/contants/table.constants.ts
  src/app/shared/util/filter.ts
  src/app/shared/util/sort.ts
Due: prettier --write, eslint --fix

Improve filtering
  public/i18n/en.json
  src/app/+pipelines/+new-pipeline/new-pipeline.component.html
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/new-pipeline.interface.ts
  src/app/+pipelines/+pipeline/pipeline.component.html
  src/app/+pipelines/+pipeline/pipeline.component.ts
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/+pipelines/pipelines.store.ts
  src/app/api/models/UserDto.ts
  src/app/api/models/audit-dto.ts
  src/app/api/models/audit-info-dto.ts
  src/app/api/models/pipeline/pipeline-config-dto.ts
  src/app/api/models/pipeline/pipeline-create-dto.ts
  src/app/api/models/pipeline/pipeline-dto.ts
  src/app/api/models/pipeline/pipeline-filter-dto.ts
  src/app/api/pipeline-api/pipeline-api.ts
  src/app/shared/info-panel/audit-info-panel/audit-info/audit-info.html
  src/app/shared/info-panel/audit-info-panel/audit-info/audit-info.scss
  src/app/shared/info-panel/audit-info-panel/audit-info/audit-info.ts
  src/app/shared/info-panel/audit-info-panel/audit-panel.component.html
  src/app/shared/info-panel/audit-info-panel/audit-panel.component.scss
  src/app/shared/info-panel/audit-info-panel/audit-panel.component.ts
  src/app/shared/info-panel/info-panel.html
  src/app/shared/info-panel/info-panel.scss
  src/app/shared/info-panel/info-panel.ts
  src/app/shared/util/filter.ts
  src/app/shared/util/sort.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Add transformer API
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+new-pipeline/new-pipeline.component.html
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+new-pipeline/step-configuration/configuration-value/configuration-value.html
  src/app/+pipelines/+new-pipeline/step-configuration/step-configuration.ts
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step-results/pipeline-step-results.component.ts
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/+pipelines/pipelines.store.ts
  src/app/+transformer/transformer.routes.ts
  src/app/api/models/pipeline/pipeline-dto.ts
  src/app/api/models/pipeline/state-dto.ts
  src/app/api/models/pipeline/step-dto.ts
  src/app/api/pipeline-api/pipeline-api.ts
  src/app/app.routes.ts
  src/app/shared/i18n/i18n-service.ts
  src/app/shared/i18n/localised.pipe.ts
  src/app/shared/styles/state-class.pipe.ts
  src/app/shared/util/filter.ts
  src/app/shared/util/sort.ts
  tsconfig.spec.json
Due: prettier --write, eslint --fix

Improve pipeline design
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+new-pipeline/new-pipeline.component.ts
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.html
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step.component.ts
  src/app/+pipelines/+pipeline/pipeline-steps.store.ts
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.html
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.scss
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.ts
  src/app/shared/styles/event-type-icon.pipe.ts
  src/app/shared/styles/state-icon.pipe.ts
Due: prettier --write, eslint --fix, stylelint

Fix running color
  src/app/+pipelines/+pipeline/pipeline-timeline/pipeline-timeline.scss
Due: stylelint

Fix configuration
  angular.json
  package.json
  pnpm-lock.yaml
  src/proxy.conf.json
Due: prettier --write

Add theme preset
  src/app/app.config.ts
  src/app/preset.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint

Add auth
  src/app/app.ts
  src/app/oauth.config.ts
  src/app/shared/auth/auth.service.ts
  src/environment/environment.interface.ts
  src/environment/environment.prod.ts
  src/environment/environment.ts
Due: prettier --write, eslint --fix

Fix auth
  public/i18n/de.json
  public/i18n/en.json
  src/app/app.html
  src/app/app.ts
  src/app/menu/menu-bar.component.html
  src/app/menu/menu-bar.component.scss
  src/app/menu/menu-bar.component.ts
  src/app/oauth.config.ts
  src/app/shared/auth/auth.interface.ts
  src/app/shared/auth/auth.service.ts
  src/environment/environment.ts
Due: prettier --write, eslint --fix, stylelint

Fix auth
  src/app/app.config.ts
  src/environment/environment.prod.ts
  src/environment/environment.ts
Due: prettier --write, eslint --fix

Fix result file download
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step-results/pipeline-step-results.component.html
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step-results/pipeline-step-results.component.ts
  src/app/api/api.ts
  src/app/api/pipeline-api/pipeline-api.ts
Due: prettier --write, eslint --fix

Add dataset pages
  public/i18n/de.json
  public/i18n/en.json
  src/app/+pipelines/+pipeline/pipeline-step/pipeline-step-results/pipeline-step-results.component.html
  src/app/+pipelines/pipelines.routes.ts
  src/app/+scraper/scraper.routes.ts
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.scss
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/+transformer/+datasets/+data-set/data-set.routes.ts
  src/app/+transformer/+datasets/+data-set/data-set.store.ts
  src/app/+transformer/+datasets/data-sets.component.html
  src/app/+transformer/+datasets/data-sets.component.scss
  src/app/+transformer/+datasets/data-sets.component.ts
  src/app/+transformer/+datasets/data-sets.routes.ts
  src/app/+transformer/+datasets/data-sets.store.ts
  src/app/+transformer/transformer.routes.ts
  src/app/api/models/dataset/data-set-dto.ts
  src/app/api/models/dataset/data-set-object-base.ts
  src/app/api/models/dataset/data-set-object-type.ts
  src/app/api/models/dataset/dataset-objects-filter-dto.ts
  src/app/api/models/dataset/datasets-filter-dto.ts
  src/app/api/pipeline-api/transformer-api.ts
  src/app/menu/menu-bar.component.ts
Due: prettier --write, eslint --fix, stylelint

Add authorization
  src/app/+pipelines/+pipeline/pipeline.routes.ts
  src/app/+pipelines/pipelines.component.html
  src/app/+pipelines/pipelines.component.ts
  src/app/+pipelines/pipelines.routes.ts
  src/app/+transformer/+datasets/+data-set/data-set.routes.ts
  src/app/+transformer/+datasets/data-sets.component.html
  src/app/+transformer/+datasets/data-sets.component.ts
  src/app/+transformer/+datasets/data-sets.routes.ts
  src/app/menu/menu-bar.component.ts
  src/app/shared/auth/auth-roles.ts
  src/app/shared/auth/auth.service.ts
  src/app/shared/auth/authorization.directive.ts
  src/app/shared/auth/authorization.guard.ts
  src/app/shared/auth/authorization.pipe.ts
Due: prettier --write, eslint --fix

Add data set object viewer
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.html
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.scss
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.ts
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.interface.ts
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/+transformer/+datasets/data-sets.component.ts
  src/app/shared/info-panel/info-panel.html
  src/app/shared/info-panel/info-panel.ts
Due: prettier --write, eslint --fix, stylelint

Fix paging
  src/app/+pipelines/pipelines.component.html
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.html
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.scss
  src/app/+transformer/+datasets/data-sets.component.html
Due: prettier --write, stylelint

Add error interceptor and toasts
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/app.config.ts
  src/app/app.html
  src/app/app.ts
  src/app/shared/error/error.interceptor.ts
  src/app/shared/error/error.service.ts
Due: prettier --write, eslint --fix

Add search to data set objects
  public/i18n/de.json
  public/i18n/en.json
  src/app/+transformer/+datasets/+data-set/data-set-object.store.ts
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.html
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.scss
  src/app/+transformer/+datasets/+data-set/data-set-objects/data-set-objects.component.ts
  src/app/+transformer/+datasets/+data-set/data-set.component.html
  src/app/+transformer/+datasets/+data-set/data-set.component.ts
  src/app/api/pipeline-api/transformer-api.ts
  src/app/app.ts
  src/app/shared/error/error.interceptor.ts
  src/app/shared/error/error.service.ts
Due: prettier --write, eslint --fix, stylelint

Allow pnpm builds
  pnpm-workspace.yaml
Due: none

Add pnpm approve builds to Dockerfile
  Dockerfile
Due: none

Path conditions:
  prettier --write: any of: *.{md,html,js,css,ts,json}
  eslint --fix: any of: *.ts
  stylelint: any of: *.scss
